@font-face {
	font-family: 'SFRounded';
	src: url(../../assets/fonts/SFRounded-Semibold.woff2) format('woff2'),
	url(../../assets/fonts/SFRounded-Semibold.woff) format('woff');
	font-weight: 600;
	font-style: normal;
}