#sidenav .fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  /*color: #9c47fc;*/
  /*background: -webkit-linear-gradient(#fff 60%, rgba(0,200,50,1));*/
  /*background: -webkit-radial-gradient(35px, rgb(0,200,50), white 40%);*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}

.main-menu:hover, nav.main-menu.expanded {
  width: 190px;
  overflow: visible;
}

.main-menu {
  background: var(--bgcolor);
  border-left: 3px solid white;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 20px 0 0 20px;
  position: fixed;
  bottom: 2.5vh;
  height: auto;
  right: 0;
  width: 75px;
  overflow: hidden;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
  -webkit-transform: translateZ(0) scale(1,1);
  z-index: 1000;
}

#sidenav:hover i {
  background: rgb(0,200,50);
  /*background: -webkit-linear-gradient(#fff 0%, rgba(0,200,50,1) 10%);*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#sidenav:hover a {
  color: white;
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1,1);
  -webkit-transition: all .1s linear;
  transition: all .5s linear;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 130px;
  font-family: 'SFRounded', 'Titillium Web', sans-serif;
  font-size: 1.35em;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

.fas.fa-arrow-left {
  color: #ffffff;
  font-size: 30px;
  margin-right: 20px;
}

.sidenav {
  /*color: var(--cul-p);*/
  border-radius: 20px;
  background: transparent;
  transition: 0.3s linear;
  width: 70px;
  height: 70px;
  position: fixed;
  z-index: 1;
  bottom: 1.5vh;
  right: 2vw;
  overflow-x: hidden;
}

