:root {
  --cul-p: #d55140;
  --cul-p-01: rgba(230, 67, 53,0.1);
  --cul-p-02: rgba(230, 67, 53,0.2);
  --bgcolor: #343a40;
  /*--bgcolor: rgb(30,40,50);*/
  --bgcolor-05: rgba(30,40,50,0.5);
  --cul-wa: rgb(0,200,30);
  /*--cul-p: #007AB3;*/
  /*--cul-p: #4285F4;*/
  --cul-p-07: rgba(230,67,53,0.7);
}

body {
  background-color: var(--bgcolor);
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:focus {
  text-decoration: none;
  color: var(--cul-p);
}

h2 {
  font-family: 'SFRounded', helvetica, sans-serif;
}

.bg-dark {
  background-color: var(--bgcolor) !important;
}

.bg-gradient {
  background: linear-gradient(55deg, #fff 0%, #eee 51%, #ddd 85%) !important;
}

.bg-gradient-rev {
  background: linear-gradient(305deg, #fff 0%, #eee 51%, #ddd 85%) !important;
}

.btn-circle {
  border-radius: 40px;
  color: var(--cul-p);
  background: rgba(255,255,255,0.2);
  border: 3px solid white;
  transition: 0.5s linear;
  animation-name: btn-anim;
  animation-duration: 2s;
}

.fa.fa-angle-double-down.animat {
  animation-name: link-anim;
  animation-duration: 3s;
}

.btn-circle:hover {
  color: white;
  border-color: white;
  background: rgba(230,67,53,0.7);
}

/* bara de navigatie */

nav a {
  color: var(--bs-white);
}

#mainNav {
  text-align: right;
  margin-right: 0px;
  margin-left: auto;
  border-bottom: solid 2px rgba(255,255,255,0.02);
}

#mainNav .navbar-brand {
  color: var(--bs-white);
  font-family: 'sfrounded', sans-serif, Helvetica, sans-serif;
  transition: 0.5s linear;
  text-decoration: initial;
}

/* la transition pot pune doar color */

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: var(--cul-p);
}

.fa.fa-bars {
  color: var(--bs-white);
  background-color: transparent;
  font-size: 13px;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  font-family: ”SFRounded”, sans-serif,Helvetica;
  border-radius: 10px;
  border: 2px solid var(--bs-white) ;
  background: rgba(0,0,0,0);
}

#mainNav .navbar-nav .nav-item .nav-link .dropdown-toggle {
  font-size: 90%;
  font-weight: 500;
  padding: .75em 10px;
  letter-spacing: 1px;
  color: #fff;
  font-family: "Montserrat",Helvetica,sans-serif;
  transition: 0.3s linear;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover .dropdown-item {
  color: var(--cul-p);
  background-color: rgba(0,0,0,0.07);
  border-radius: 20px;
}

header .btn-circle {
  width: 80px;
  height: 80px;
  font-size: 45px;
}

header.masthead {
  text-align: center;
  color: white;
  background-color: black;
  background-image: url("../../assets/img/header.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 600px) {
  header.masthead {
    background-image: url("../../assets/img/header-mob.jpg");
  }
}

.bv {
  color: var(--cul-p);
}

header span {
  font-family: 'SFRounded', sans-serif;
  /*color: var(--cul-p);*/
  text-shadow: 0 0 1em rgba(255,255,255,0.7);
}

header h1 {
  color: rgba(255,255,255, 0.7);
  font-size: 0.35em;
}

@media (min-width: 992px) {
  header.masthead {
    height: 900px;
  }
}

/* servicii */

#services {
  /*background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);*/
  background: linear-gradient(55deg, #fff 0%, #eee 51%, #ddd 85%);
  padding-top: 100px;
  padding-bottom: 20px;
}

.cul-ico {
  color: var(--cul-p);
}

#services .serv-item:hover .text-muted {
  color: rgb(80,80,80) !important;
}

/* ASF */

#asf h6 {
  text-align: left;
  font-family: SFRounded, sans-serif;
}

#asf {
  /*background: linear-gradient(55deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 85%);*/
  background: linear-gradient(55deg, #fff 0%, #eee 51%, #ddd 85%);
  padding-top: 100px;
  padding-bottom: 0;
}

#asf .serv-item {
  display: inline-block;
  text-align: left;
}

#risc-rificat iframe {
  position: absolute;
  /*min-width: 100%;*/
  min-height: 1000px;
  height: 75vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* despre */

#about {
  /*background: url("cl-20.svg") top / auto no-repeat;*/
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(55deg, #fff 0%, #eee 51%, #ddd 85%);
}

#about .list-group-item:hover p {
  color: rgb(80,80,80) !IMPORTANT;
  /*background: red;*/
}

.timeline > li .timeline-image {
  background: url("../../assets/img/cl-nav.svg") center / auto no-repeat, var(--bgcolor);
  /*background: url("../../assets/img/logo-claym.svg") center / auto no-repeat, var(--bgcolor);*/
}

/* contact */

#contact.lazy {
  background-image: none;
}

#contact {
  background-image: url('../../assets/img/map-image.png');
  padding-top: 100px;
  padding-bottom: 50px;
}

#contact .contact-date {
  padding-top: 30px;
  align-items: center;
}

#contact .contact-date-chenar {
  width: 250px;
  background-color: rgba(0,0,0,0.5);
  padding: 2%;
  margin: 0 auto;
}

@media (min-width: 500px) and (max-width: 800px) {
  #contact .contact-date-chenar {
    width: 230px;
  }
}

#contact a {
  color: white;
  text-decoration: none;
  border-style: none;
  border-color: var(--cul-p);
  font-family: sans-serif;
  font-weight: initial;
  font-size: 17px;
  padding-left: 2vw;
  margin-bottom: 10px;
  transition: 0.3s linear;
}

#contact a:hover {
  color: var(--cul-p);
}

#contact p {
  color: #ffffff;
  margin-bottom: 0;
}

/* footer */

footer {
  background: linear-gradient(55deg, #fff 0%, #eee 51%, #ddd 85%);
}

footer a {
  color: black;
  font-weight: 600;
  letter-spacing: .15rem;
  transition: 0.3s linear;
  padding: 3px;
}

footer a:hover {
  color: var(--cul-p);
  background-color: rgba(0,0,0,0.1);
}

/* modal */

.modal-dialog {
  background: linear-gradient(55deg, #fff 0%, #eee 51%, #ddd 85%);
}

.mod-buton {
  color: var(--cul-p);
  border-radius: 20px;
  background: transparent;
  border: 3px solid var(--cul-p) ;
  height: 40px;
  width: auto;
  padding-top: 4px;
  padding-bottom: 5px;
  transition: 0.3s linear;
}

#GDPR, #risc-ridicat {
  opacity: 1;
  background-color: rgba(0,0,0,0.3);
  min-height: 600px;
}

.btn-primary {
  color: var(--cul-p);
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: var(--cul-p) !important;
  border-color: var(--cul-p) !important;
  color: white !important;
}

.btn-close:hover {
  background-color: rgba(0,0,0,0.3);
}

/* daca nu pun overflow, textul iese din height */

/* animatii */

@keyframes link-anim {
  0% {
    color: var(--cul-p);
    /*background: rgba(255,255,255,0.2);*/
  }
  50% {
    color: white;
    /*background: rgba(230,67,53,0.7);*/
  }
  100% {
    color: var(--cul-p);
    /*background: rgba(255,255,255,0.2);*/
  }
}

@keyframes btn-anim {
  0% {
    background: rgba(230,67,53,0.7);
  }
  100% {
    background: rgba(255,255,255,0.2);
  }
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: .5rem 0;
  margin: 0;
  font-size: 1rem;
  color: var(--bs-white);
  text-align: left;
  list-style: none;
  background-color: rgba(52,58,64,0.9);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1rem;
  clear: both;
  font-weight: 400;
  color: var(--bs-white);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item.active, .dropdown-item:active {
  color: var(--cul-p);
  text-decoration: none;
  background-color: rgba(0,0,0,0.1);
}

.dropdown-item:hover, .dropdown-item:focus {
  color: var(--cul-p);
  background-color: rgba(0,0,0,0.1);
}

.nav-link:hover, .nav-link:focus {
  color: var(--cul-p);
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: var(--cul-p);
}

.img-tarif {
  width: 100%;
  height: auto;
  padding: 10px;
}

.modal-body {
  overflow: hidden;
  width: 100%;
}

.ccode {
  margin-bottom: 50px;
}

#tarifereferinta {
  padding-bottom: 50px;
}

#riscridicat li {
  font-size: 14px;
  margin-bottom: 5px;
  padding: 0 0 10px 0;
}

#riscridicat ul {
  padding-top: 15px;
  padding-bottom: 15px;
}

#riscridicat {
  padding: 60px 10px 50px 10px;
}

